[2012-04-02 15:36] roccoblues opened #1 "invalid url for search"
I'm trying out elastisch and ran into the following problem

[code]

Looks like elastisch generates and invalid url. Any idea why?

Thanks for you help.

[2012-04-03 11:36] #1 closed, assigned to nobody

[2012-09-09 03:52] maetl opened #2 "document/search vs rest/post & rest/search-url"
Assuming an index named `products` populated with sample data, the following search query does not return any hits:

[code]

But manually constructing a post with the same query map returns the hit results as expected.

[code]

Why would this be happening?

[2012-09-09 03:58] #2 closed, assigned to nobody

[2012-09-09 04:05] michaelklishin opened #3 "Document clojurewerkz.elastisch.rest.document/search-all-types and friends"
`clojurewerkz.elastisch.rest.document/search-all-types` and similar are not documented and thus cannot be easily discovered (see #2, for example)

[2012-09-22 15:17] foobar27 opened #4 "id not url-encoded"
In rest.clj, record-url should url-encode (at least) the id parameter.

[2012-09-22 17:51] #4 closed, assigned to michaelklishin

[2012-10-18 08:59] ponzao opened #5 "Document count fails"
Document count fails. Here is the code I am using:

[code]

Manual HTTP access works:

[code]

[2012-10-18 09:11] #5 closed, assigned to nobody

[2012-10-19 12:20] ponzao opened #6 "esd/count doesn't take mapping into consideration"
Seems `mapping` does not filter results when using `esd/count`:

[code]

[2012-10-20 05:00] #3 closed, assigned to michaelklishin

[2012-10-21 03:39] #6 closed, assigned to nobody

[2012-11-21 18:34] tedgin opened #7 "Please document exceptions in the API."
When calling the connect! function with an known host name, it throws an exception.  I guess I shouldn't have been surprised.

For each function in the API would you mind adding the possible exceptions that may occur, so that clients know what to trap?

[2013-01-14 22:36] pcsanwald opened #10 "problem running count-test"
I've cloned elastisch, and am trying to run the tests locally. I ran into a problem when running the tests. "lein all test" using leiningen2, and the below test give me the same result. Since the CI build is passing, it seems like this must be a problem with my local server. This is a clone of the master branch on github.

it smells like a local problem, but I'm not sure the best place to look. an

[2013-01-14 22:38] #10 closed, assigned to nobody

[2013-01-28 15:10] davie opened #11 "support bulk request"
Hi there,
Any plans to support bulk requests http://www.elasticsearch.org/guide/reference/api/bulk.html?
In particular bulk inserts.

Thanks

[2013-02-16 11:11] michaelklishin opened #17 "Indexing support via native API"
This is a pretty sizable task but I will use a single issue for it.

[2013-02-16 11:12] michaelklishin opened #18 "Querying support via native API"
Again, a sizable task but we will use a single issue to track progress on it.

[2013-02-17 20:16] mpenet opened #19 "Support Multi Search API"
see http://www.elasticsearch.org/guide/reference/api/multi-search.html

I don't think you support it yet (I didn't see it in the docs).
It uses the same format as bulk, so maybe it's something to think about when implementing https://github.com/clojurewerkz/elastisch/issues/11

[2013-02-18 19:21] michaelklishin opened #20 "Administrative actions support via native API"
Operations such as
- Create index
- Delete index
- Get indices stats
- Update index settings

should be supported via native API as well.

[2013-02-20 07:41] #11 closed, assigned to nobody

[2013-03-07 17:06] #20 closed, assigned to michaelklishin

[2013-03-07 17:06] #18 closed, assigned to michaelklishin

[2013-03-07 17:06] #17 closed, assigned to michaelklishin

[2013-03-24 03:51] terjesb opened #23 "1.1.0-beta2 dependencies, Datomic compatibility"
I have a project that works fine using elastisch 1.0.2 and datomic-free 0.8.3848 against an elasticsearch 0.90.0.RC1 server (since 0.20.x and 0.90.0.Beta).

Datomic currently seems to depend on Lucene 3.x API, and specifically includes lucene-core 3.3.0.

lein classpath only shows lucene-core 3.3.0, no other lucene or elasticsearch jars.

I tried switching to elastisch 1.1.0-beta2 to see if is was

[2013-03-24 03:56] #23 closed, assigned to nobody

[2013-03-29 12:43] michaelklishin opened #24 "Support bulk operations in the native client"
We need to support bulk operations in the native client with the same Clojure API we
have in the REST one.

[2013-04-21 18:52] sinemetu1 opened #25 "Clarify that mapping types should be passed as strings"
It might be that I'm still pretty new to Elastic Search, but I spent a decent amount of time debugging today because a query wasn't working and it turned out that I was passing `:article` (keyword) instead of `"article"` to `(esd/search ...)` as the mapping-type parameter.

In the docs for creating the index with a mapping [here](http://reference.clojureelasticsearch.info/clojurewerkz.elastisch.re

[2013-05-08 19:31] michaelklishin opened #27 "Investigate custom_score queries with scripts"
Possible issue reported [in this mailing list thread](https://groups.google.com/forum/?fromgroups=#!topic/clojure-elasticsearch/d1lkFcMyKOI)

[2013-05-29 22:51] kanwei opened #28 "Cannot use native client"
(esn/connect! [["127.0.0.1" 9300]] {"cluster.name" "elasticsearch_xx"})

Always returns:

NoClassDefFoundError Could not initialize class org.elasticsearch.Version  org.elasticsearch.cluster.node.DiscoveryNode.<init> (DiscoveryNode.java:78)

I am running ES 0.90 from homebrew and have set ES_CLUSTER_NAME

[2013-05-30 04:08] #28 closed, assigned to nobody

[2013-09-11 03:11] jseagull opened #38 "bulk index adds unnecessary field into elasticsearch"
_index and _type fields are defaultly included in index, but bulk index operation still add them into fields.

[2013-09-17 20:44] alexkehayias opened #39 "Date type fields coerced to string using native client"
Not sure if this is by design, but "date" type fields are coerced to a string when getting a resource via the native client i.e `(esd/get "my_index" "mapping" "id")`. I see that an "integer" type field is coerced to an integer. What's the expected behavior?

[2013-09-18 11:07] #39 closed, assigned to nobody

[2013-09-18 11:08] #27 closed, assigned to nobody

[2013-09-24 13:53] konradkonrad opened #40 "Change conversion of hit in native client"
Currently the format of hits differs between rest and native in regard to the "fields"-key: native uses ":_fields" and rest uses ":fields".

I propose both to use ":fields".

To reproduce that issue:

<pre>
# I assume, you have an elasticsearch cluster named "mytestcluster"
# available at 127.0.0.1 on port 9200 (rest-http) and 9300 (native-transport)
# respectively.

# Steps to reproduce
git clone

[2013-09-25 10:26] #40 closed, assigned to nobody

[2013-09-25 10:27] #19 closed, assigned to nobody

[2013-09-25 10:28] michaelklishin opened #41 "Support multi-search in native client"
HTTP client already supports it.

[2013-09-27 05:52] #25 closed, assigned to nobody

[2013-09-27 07:08] jonpither opened #42 "Native client is a dynamic var, rather than managed by user"
Hi,

Wondering why there is a difference between the way the client var is handled for rest vs native.

For rest the developer using elastisch has to manage the client object. For native is stored inside the _client_ dynamic var.

The latter has issues, for example if a service/app wants to talk to two different ES instances this is unmanageable right? As a user of elastisch I also want to lifecyc

[2013-09-27 08:18] #42 closed, assigned to nobody

[2013-11-19 08:49] #38 closed, assigned to nobody

[2013-12-15 14:27] weejulius opened #50 "inconsistent type to use native api"
Hi,

I got a problem using the native api to put and get document, for example, the document put into index is {:a :a-value(keyword type) :b 1111(long type)}, the document becomes {:a :a-value(string type) :b 1111(integer type)} after retrieving from index.

I am not use if it is correct to change the type between the put and get?

Thanks!

[2013-12-15 15:04] #50 closed, assigned to nobody

[2014-01-10 19:17] richievos opened #54 "Elastisch should use actionGet not get"
In one of our apps, we've built our own elastic search client, that we've recently been attempting to replace with elastisch. Overall this has gone pretty well, but we've had a couple issues.

The most recent one is we are handling some errors elastic search throws in our code, and seeing different behavior now that we have moved to elastisch. After digging through things a bit, it seems to be cau

[2014-01-10 22:40] benjreinhart opened #55 "Elastisch to support a function for escaping a query string?"
Hello,

In our app, we escape special characters from user input which is used in a `query_string` query. Recently, we've been converting our app to use Elastisch and thought it made sense that the code to do so would live in here.

Here is what our current function looks like (which is based on [lucene special characters](http://lucene.apache.org/core/3_4_0/queryparsersyntax.html#Escaping%20Speci

[2014-01-10 22:44] richievos opened #56 "native.document.[create, put] should support versioning"
Related to https://github.com/clojurewerkz/elastisch/issues/54 another issue we're running into is elastisch doesn't seem to support using the optimistic locking built into elasticsearch. Specifically, on the index-request, one should be able to trigger a setVersion call.

Docs on setVersion: https://github.com/elasticsearch/elasticsearch/blob/master/src/main/java/org/elasticsearch/action/index/In

[2014-01-11 18:23] richievos opened #58 "Provide functionality for booting an in-process elasticsearch instance"
When we test using our home grown elasticsearch library, we avoid having to boot a separate elasticsearch instance by booting an in-process, local, node. Especially given the native client tests require the elasticsearch library to be pulled down, it seems like it would simplify life for contributors to do this in elastisch.

It does cause a bit of overhead of course when booting up the test suite

[2014-01-11 18:40] richievos opened #59 "Also support maps as arguments when public APIs use trailing map args"
There's some APIs in elastisch that support trailing named arguments. For instance [native.document.search](https://github.com/clojurewerkz/elastisch/blob/master/src/clojurewerkz/elastisch/native/document.clj#L275)

[code]

This is handy when I'm directly calling search, ala

[code]

but is a PITA when trying to interact with search from another method that takes options. For instance, if I wanted

[2014-01-11 18:49] richievos opened #60 "Example docs for update-mapping disagree with implementation"
The docs for update-mapping on http://clojureelasticsearch.info/articles/indexing.html say to use it as:

[code]

However, at least for native.index update-mapping actually requires the format to be:

[code]

I'm not sure if this is a bug in the docs or in native. I personally expected it to be the version in the doc, but the version it actually requires is closer to the format used in create-inde

[2014-01-11 19:59] #60 closed, assigned to nobody

[2014-01-12 04:42] #54 closed, assigned to nobody

[2014-01-12 04:43] #56 closed, assigned to nobody

[2014-01-14 18:54] #55 closed, assigned to nobody

[2014-01-24 14:30] kolstae opened #69 "Being able to set timeouts for the rest-api"
AFAIK it's not possible to set timeouts for the rest-calls.

This would really be a great addition to the library.

[2014-02-04 20:08] aphyr opened #70 "Index creation - :settings requires string keys, but docs suggest keywords."
`elastisch.native.index/create` works fine with string keys:

[code]

But the docs suggest using keywords, like so:

[code]

Which throws ClassCastException from `native.conversion/->create-index-request`

[code]

Incorrect docs? Should we change the code?

[2014-02-05 04:43] #70 closed, assigned to nobody

[2014-02-20 17:30] tedgin opened #72 "scroll-seq requires help when working with a "scan" search type."
I'm using elasticsearch 0.90.7, so this may be a temporary problem.

A scroll search with a scan search type does not return results with the initial call.  A call to the _search/scroll endpoint needs to be made to retrieve the first set of results.  This isn't consistent with the behavior of the other search types.

The otherwise very useful scroll-seq endpoint doesn't know about this behavioral

[2014-03-01 11:33] weejulius opened #73 "Fetching only a subset of document"
Hi,

It seems the elastic search supports to return part of fields of document for performance. Will it be supported?

Thanks

[2014-03-08 17:08] michaelklishin opened #75 "Pass full test suite against ElasticSearch 1.0.x"

[2014-03-08 17:09] #75 closed, assigned to michaelklishin

[2014-03-16 20:11] michaelklishin opened #76 "Support snapshot/restore"
[New in ElasticSearch 1.0](http://www.elasticsearch.org/guide/en/elasticsearch/reference/1.x/modules-snapshots.html)

[2014-04-06 07:25] #59 closed, assigned to nobody

[2014-04-16 13:33] jasongilman opened #80 "Allow explicit connection passing"
It looks like elastisch only allows use of a global connection to elastic. This breaks cases where an application would want to use multiple connections to elastic. The API functions should take an optional connection in cases where a global connection is not appropriate.

[2014-04-19 16:16] #76 closed, assigned to michaelklishin

[2014-04-25 23:47] #80 closed, assigned to michaelklishin

[2014-05-03 02:36] #58 closed, assigned to nobody

[2014-05-06 11:59] killme2008 opened #82 "Doesn't return hightlight in hits using native client"
I am using native client to search documents with hightlight,but it doesn't return `highlight` value in `hits` response.Is it an issue in clojurewerkz, or in elasticsearch java client?

[2014-05-20 11:39] schovi opened #83 "Any way, how to inspect requests to elastic?"
Is there any option, how can i log all requests to elasticseach? I want to use it only in developement to see what my app generates.

[2014-05-20 12:54] #83 closed, assigned to nobody

[2014-05-23 04:30] michaelklishin opened #84 "Upgrade ElasticSearch client to 1.2.0"
I tested it against 1.2.0 and 1.1.2, all tests pass.

[2014-05-23 04:30] #84 closed, assigned to nobody

[2014-05-23 04:46] michaelklishin opened #85 "Support snapshotting in the native client"
Updated for ES 1.2 API.

[2014-05-23 04:46] #85 closed, assigned to nobody

[2014-06-06 12:41] jasongilman opened #86 "Elastisch should support persistent HTTP connections"
Elastisch should support persistent HTTP connections for better performance with REST requests. The recent change in Elastisch to make connection and explicit argument for all actions should make this an easy change to implement.

The clojurewerkz.elastisch.rest/connect function could be updated to take a clj-http connection manager as detailed here: https://github.com/dakrone/clj-http#using-persi

[2014-06-25 20:45] dpick opened #87 "Issuing a delete through the native api against an index that does not exist causes the index to be created"
Issuing a delete using the native API to an index that does not already exist causes the index to be created in ElasticSearch.

Start with an empty ElasticSearch instance

Then try and delete a document using the native api

Then check ElasticSearch one more time and you'll see an index was created.

Using the ElasticSearch Rest API this same thing throws an error saying the index does not exist a

[2014-06-25 21:46] #87 closed, assigned to nobody

[2014-07-01 05:43] sandeepjagtap opened #88 "http rest client support for partial document update"
elastisch http rest client does not support partial document update.
http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/partial-updates.html

[code]

There is  clojurewerkz.elastisch.rest.document/update-with-script, but no document api without script for partial document update in elastisch

[2014-07-04 14:10] #88 closed, assigned to nobody

[2014-07-09 21:01] #73 closed, assigned to nobody

[2014-07-10 20:08] #69 closed, assigned to michaelklishin

[2014-07-13 12:06] #82 closed, assigned to nobody

[2014-07-13 12:59] michaelklishin opened #95 "Switch to using *Builders in the native client"
ElasticSearch client post 1.0 uses `*Builder` classes for requests. We should use them where possible (we currently instantiate `*Request`s directly in most places).

[2014-07-14 19:14] martinklepsch opened #96 "terms query missing?"
Maybe I'm mistaken but I think the [terms query](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#query-dsl-terms-query) is missing. Would you consider a patch adding it?

[2014-07-16 00:22] #41 closed, assigned to michaelklishin

[2014-07-16 19:06] michaelklishin opened #100 "Aggregation support in the native client"
The REST one already supports aggregations.

[2014-07-16 21:20] #86 closed, assigned to nobody

[2014-07-17 13:19] r0man opened #102 "Upsert documents with parent."
Hello,

I would like to upsert documents that have a parent. Right now
the `upsert` fn does not have any options to pass the parent. If
there's a interest I could send a PR for the `upsert` fn that
adds optional arguments in a similar way as the `create` fn. I
thought about something like this:

[code]

Roman

[2014-07-17 23:17] #100 closed, assigned to michaelklishin

[2014-07-17 23:42] #102 closed, assigned to nobody

[2014-07-18 22:21] #96 closed, assigned to nobody

[2014-07-30 23:33] tedgin opened #106 "JSON parse exception in document/present? call"
The function `clojurewerkz.elastisch.rest.document/present?` sometime throws a `JsonParseException`.  I suspect this is a bug in elasticsearch itself, but I thought I'd mention it here, just in case.

Here's a  partial stack trace.

[code]

[2014-07-31 21:14] #106 closed, assigned to nobody

[2014-08-13 22:36] mnussbaum opened #108 "Aliases created with the native API appear in every index"
Running the following code against an Elasticsearch cluster that has multiple indices will create `test-alias` in every index, not just `test-index-0`, as I would expect.

[code]

[2014-08-21 15:17] michaelklishin opened #111 "ElasticSearch Java client 1.3.2: more undocumented breaking API changes"
Most looks like

[code]

[2014-08-21 15:31] #111 closed, assigned to michaelklishin

[2014-09-04 20:52] michaelklishin opened #114 "multi search REST API endpoint is sensitive to trailing new line"
If we don't include it, we get one fewer result in the response.

[2014-09-04 20:53] #114 closed, assigned to nobody

[2014-09-18 19:49] mnussbaum opened #116 "Documents prepared with `clojurewerkz.elastisch.rest.bulk/bulk-index` don't have all operation keys removed"
Documents prepared for use in the bulk API with the `clojurewerkz.elastisch.rest.bulk/bulk-index` function are expected to have their operations and operation options in the main body of the document. `bulk-index` is intended to separate the operations into a separate JSON document. However, not all operation options are being appropriately removed, `:_routing` for example is left in the body of t

[2014-09-19 04:27] #116 closed, assigned to nobody

[2014-09-28 12:44] apa512 opened #118 "query-string not working as expected"
Sometimes the query-string function doesn't work like I would expect from reading the Elasticsearch docs.

Example:

[code]

Returns 0 hits but there are lots of documents with a title.

[code]

This works though.

With curl, I can also search for title:blablabla like in the docs, but with Elastisch I need to write

[code]

with single quotes around the word. Is there som query string parsing done

[2014-09-28 18:04] #118 closed, assigned to nobody

[2014-10-20 21:39] puszczyk opened #122 "It is not possible to select a script language in rest.document/update-with-script"
Hi,

In `clojurewerkz.elastisch.rest.document/update-with-script` the request body is generated like this:
[code]

But if we look at the [update api](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/docs-update.html) it should also accept a script language as an optional parameter (grated that this is not well documented in ES); so it should be something like

[code]

This is

[2014-10-25 10:06] kfh opened #125 "The ok? function(response ns) in the native API checks on wrong key"
My usecase. creating a new index and checking for ok? fails because ok? checks for :created
key while the returned map looks like this: {:ok true, :acknowledged true}.

[2014-10-25 10:11] #125 closed, assigned to nobody

[2014-11-12 22:41] michaelklishin opened #128 "Upgrade ES client to 1.4.0"

[2014-11-14 22:45] #108 closed, assigned to nobody

[2014-11-14 22:45] #128 closed, assigned to michaelklishin

[2014-11-19 15:32] martinhynar opened #130 "Is `update-with-partial-doc` correct?"
I am using elastisch 2.1.0-rc1 and I am unsure whether update-with-partial-doc is correct.

I had this line: `(esd/update-with-partial-doc conn index mapping-type id {:field "value"})` and I was constantly receiving exception `ActionRequestValidationException: Validation Failed: 1: script or doc is missing`

In ES, for partial document update, it is needed to have the body of the form '{"doc" {"fi

[2014-11-19 17:10] #130 closed, assigned to nobody

[2015-01-05 17:39] wesleyhall opened #133 "build-local-node only supports client mode due to hardcoding"
Hey folks,

The build-local-node function in clojurewerkz.elastisch.native has a hardcoded line that sets the client mode of the built node to true meaning that this function cannot be used to start an independent and functional elasticsearch node. This is a bit of a shame because something like this is quite useful for testing and development. Is there any reason why the current code fixes this v

[2015-01-05 19:17] michaelklishin commented on #133
@wesleyhall this looks OK to me. The point of `build-local-node` is to be used in development and testing. Please submit a PR.

[2015-01-05 19:24] wesleyhall commented on #133
Great, all yours :)

[2015-01-05 19:40] michaelklishin commented on #133
Fixed by #134, thank you!

[2015-01-05 19:40] #133 closed

[2015-02-11 00:12] gtrak opened #138 "rest.bulk.bulk-index requires unnesting of :_source field."
I had to write this function to work around the output of bulk-index containing :_source fields.

[code]

The seq transforms I'm using on source data to generate chunks of bulk index commands are like so:
[code]

Where `scroll` returns the output of scroll-seq.

[2015-02-11 04:34] michaelklishin commented on #138
@gtrak there are some functions in `document` (IIRC) that filter out response keys. Please submit a PR that does the same in `bulk`. Cheers.

[2015-02-21 16:55] mitchelkuijpers commented on #24
Just wanted to let you know I started working on this, and I am making some good progress :) Will try to have something ready by the end of this weekend.

[2015-02-21 22:56] michaelklishin commented on #24
@mitchelkuijpers sounds good, thank you.

[2015-02-21 22:57] michaelklishin commented on #122
I believe this was fixed by #123.

[2015-02-21 22:57] #122 closed

[2015-02-22 12:53] mitchelkuijpers commented on #24
I have a first version working i currently give this structure back after a bulk operation:

[code]

I case of failure the failed? property will be true and a failure-message property will be added. I notice the rest api gives properties back like :_index and :_type. Do you think I should add those @michaelklishin ?

[2015-02-22 13:46] michaelklishin commented on #24
@mitchelkuijpers yes, as aliases for `:index and `:type`, of course. We do this in other places. Better be compatible than sorry :)

[2015-02-22 14:03] mitchelkuijpers commented on #24
@michaelklishin Added, and also ```:_index``` and ```:_version```.

The only thing that I think we should not implement is: ```bulk-with-index``` and ```bulk-with-index-and-type```. This is kind of hairy to implement and this would mean I cannot reuse the ```->delete-request``` and the ```index->request``` functions from ```conversion.clj```. What are your thoughts on this?

[2015-02-22 14:09] mitchelkuijpers commented on #24
After thinking about it some more I am leaning towards the option of reusing the bulk-index and bulk-delete functions from ```rest/bulk``` this way you can just switch the native and rest ```bulk```, ```bulk-with-index``` and ```bulk-with-index-and-type``` calls without changing anything :)

[2015-02-22 14:24] michaelklishin commented on #24
That's fine. I find those functions a bit odd in the REST API. 100% compatibility is not the goal. If we can keep it at 95%, that's already huge for our users.

[2015-02-22 14:30] michaelklishin commented on #24
@mitchelkuijpers so, native would delegate to REST? This should be made very clear in the docs because the two use different ports and some installations may be locked down to only one protocol at the firewall.

[2015-02-22 14:32] mitchelkuijpers commented on #24
@michaelklishin  No Native would only re-use these functions from rest:

[code]
And then if you call bulk or the other two bulk functions (those are easy to implement this way) this will be transformed to either and IndexRequest or an DeleteRequest and we can simply call the native api :)

[2015-02-22 14:42] michaelklishin commented on #24
@mitchelkuijpers ah, perfect. Feel free to extract them into a separate internal namespace, e.g. `elastisch.common.bulk`.

[2015-02-22 14:45] mitchelkuijpers commented on #24
@michaelklishin :+1:

[2015-02-24 07:32] parkjaehyuck opened #142 "unregister-query response format is different between REST and native clients"
sorry I can't write English. native api used. not REST Api.

watch below source code.

request to server unregister percolator..

request query :

[code]

response
[code]

`_index : .percolator` <-- I think this is wrong.

I think this is correct:
[code]

REST api work well.
Native api not work..

thank.

[2015-02-24 08:33] michaelklishin commented on #142
Thank you, I agree, this looks like an issue in the native client.

[2015-02-24 11:00] #142 closed

[2015-02-28 09:24] michaelklishin commented on #24
@mitchelkuijpers any other way I can help you? I'd be very excited to see this feature added :)

[2015-02-28 19:24] mitchelkuijpers commented on #24
I'll try to have a pull request ready tomorrow, had a busy week ^^

[2015-03-02 20:05] michaelklishin commented on #24
Contributed by @mitchelkuijpers in #144.

[2015-03-02 20:05] #24 closed

[2015-03-05 10:01] aquua opened #145 "Native client ignores filters"
sorry I can't write English.

watch my source.

[code]

REST API  Good work
Native API Not work

Test Version : 2.1.0 and 2.2.0-beta1

[2015-03-05 10:13] aquua commented on #145
(def native-result (native-doc/search core/tcp-conn "crawler" "product"
                         :query (q/filtered :query (q/term :site_name "뽐뿌")
                                            :filter {:range {:price {:from 0 :to 10000}}}
                                            )
                         :from 0
                         :size 10))

this source good work..

[2015-03-05 10:13] michaelklishin commented on #145
Please be more specific than "it doesn't work".

[2015-03-05 10:16] michaelklishin commented on #145
Is `:filter` ignored by the `elastisch.native.document/search`? Is there an exception? Please at least post the exception you're getting if so. I'm still not sure what the issue is.

[2015-03-05 10:16] aquua commented on #145
I request price form  0  to  10000
rest api  price result    : 6000 6000 6000 6000 6000 6000 6000 3000 6000 3000
native api price result  : 6000~ 150000

[2015-03-05 10:17] michaelklishin commented on #145
OK, so the filter is ignored or not constructed correctly. Thanks for reporting.

[2015-03-05 10:18] aquua commented on #145
thank you.. and sorry I can't write English..

[2015-03-05 10:24] michaelklishin commented on #145
@aquua no worries. Your English is way better than my Korean ;)

[2015-03-25 15:32] emidln commented on #72
I haven't had time to build up a full pull request, but for anyone who is affected, this gist provides a solution and a higher-level scan/scroll interface: https://gist.github.com/54e3e66715f38befa6da

[2015-04-07 09:53] nikopol opened #150 "scroll-id larger than 4k"
Hello,
With Elasticsearch 1.4, making a scroll search on multiple indexes can generate a scroll-id larger than 4k. Such scroll-id cannot be used in HTTP/GET method : that's generated this exception on Elasticsearch side :

org.elasticsearch.common.netty.handler.codec.frame.TooLongFrameException: An HTTP line is larger than 4096 bytes.

and of course this exception on the elastisch side :

org.apac

[2015-04-07 14:35] michaelklishin commented on #150
Fixed by #152. I'll cut a `2.1.x` release in the upcoming days.

[2015-04-07 14:35] #150 closed

[2015-04-23 12:03] martinhynar opened #153 "Is native local node supposed to be used in production?"
Hi,

I need to sort things (at least for myself) on using various native client options. According to ES documentation, there are 2 possibilities - TransportClient and NodeClient. The transport client option is  clear to me and its configuration using elastisch is straightforward. In my application, I want to go the node client path to connect to cluster, with disabled autodiscovery and given node

[2015-04-23 12:07] michaelklishin commented on #153
It was added for automated testing. It makes little sense to run a local node in production. You should be able to specify options such as `discovery.*` for a transport client as well.

[2015-04-23 12:07] #153 closed

[2015-04-23 12:18] martinhynar commented on #153
OK, now I understand meaning of 'local' in this context. Because I was thinking about that as 'local to application' and not that everything runs on localhost. Thanks!

[2015-05-06 00:22] stephenmuss opened #154 "Suggesters support"
I couldn't find any support for suggesters in either the native or rest client.

Are there any plans to adopt these features?

Docs can be found at http://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html

[2015-05-06 07:52] michaelklishin commented on #154
We're open to including it if someone contributes it (with a reasonable amount of docs).

[2015-05-13 08:00] mnylen opened #155 "update-aliases confusing api"
The behaviour of `update-aliases` is currently bit confusing:

* `:add` does not allow plural `:aliases` (use case: add multiple aliases to one index at once)
* `:remove` does not allow singular `:alias` (use case: remove single alias from index)

[2015-05-13 08:00] mnylen opened #156 "No native bulk support?"
There is rest.bulk namespace, but no native.bulk

[2015-05-13 08:01] mnylen commented on #155
I might be able to create a pull request for this later today.

[2015-05-13 08:01] mnylen commented on #156
I'll look into adding support for this.

[2015-05-13 08:03] mnylen commented on #156
Sorry, this seems to be coming in 2.2.0  :)

[2015-05-13 08:03] #156 closed

[2015-05-13 19:27] #155 closed

[2015-05-13 19:27] mnylen opened #158 "Keyword keys don't work in index settings"
Calling `(esi/create conn name :mappings mappings :settings settings)` allows keywordized keys for `mappings` map, but not for `settings`

Using keywordized keys in `settings` map causes this exception to be thrown:

    ClassCastException java.lang.ClassCastException: clojure.lang.Keyword cannot be cast to java.lang.String

[2015-05-13 19:29] michaelklishin commented on #158
@mnylen this is an overlook, there is no big idea behind the difference. Feel free to take a look into this. Note that we have our own keywordisation function, which is a lot more efficient than `clojure.walk/keywordize-keys`.

[2015-05-13 19:39] mnylen commented on #158
I'll add ChangeLog.md entry for this, just a moment.

[2015-05-14 05:35] mnylen commented on #158
Rebased to master, so now there shouldn't be any merge conflicts either.

[2015-05-14 10:57] #158 closed

[2015-05-14 10:58] michaelklishin commented on #158
Welp, we do use `clojure.walk` in some areas — which is fine, those methods are unlikely to be invoked on the hot path.

Fixed by #159.

[2015-05-14 15:51] michaelklishin commented on #158
@mnylen thank you. We can release a new beta today if you want, unless, of course, you may be looking into any other issues soon :)

[2015-05-14 16:18] mnylen commented on #158
@michaelklishin, no problem. Go ahead with the beta 4 if you want. I can take a look on other issues, but I'm not sure if I have time for that this week.

[2015-05-28 15:02] neverfox opened #162 "index/stats options have no effect"
You get the full response back no matter what you set. I think this has to do with the fact that the source sets them as query parameters, but the current ES documentation doesn't show them being used that way.

[2015-05-28 15:46] michaelklishin commented on #162
Feel free to dig deeper. ES API certainly does change between releases.

[2015-05-29 22:43] loganlinn opened #163 "Fix reflection warnings"
This project has a handful of reflection warnings. I didn't see any other previous issues opened about this, so I wanted to bring them to light. Here are the warnings emitted from running the tests, filtered to only those from clojurewerkz package. I've looked into a few of these and some look more critical than others, but ideally there shouldn't be any.

[code]

I enabled this output by adding t

[2015-05-30 02:31] michaelklishin commented on #163
@loganlinn note that in a fair share of cases, the Java method invoked is overridden on argument type. While not impossible to work around from Clojure, it would lead to ugly and fairly fragile code.

Feel free to take a look into the warnings. Thank you!

[2015-05-30 04:17] neverfox commented on #162
Since at least 1.3, they dropped stat types as query parameters. They now must be accessed as endpoints. For example, the url for `:docs true` should be `/_stats/docs` rather than `/_stats?docs=true`. The tests for `index.stats` wouldn't have caught this because it looks like they are mostly placeholder tests that were never fully fleshed out. They check for the most basic response but not whether

[2015-05-30 07:39] michaelklishin commented on #162
Fixed by #164.

[2015-05-30 07:39] #162 closed

[2015-06-02 18:27] loganlinn opened #165 "native document/update-with-script broken"
`clojurewerkz.elastisch.native.document/update-with-script` throws exception when you call it. It's calling [`clojurewerkz.elastisch.native.conversion/->update-request`](https://github.com/clojurewerkz/elastisch/blob/860a0543300237c6857c422777522a17fc68bb13/src/clojurewerkz/elastisch/native/conversion.clj#L430) with incorrect arguments:

https://github.com/clojurewerkz/elastisch/blob/860a054330023

[2015-06-02 18:46] loganlinn commented on #165
This appears to be the breaking change: https://github.com/clojurewerkz/elastisch/commit/800882cb2fcfc9304a4486f28b9423daeaac47e3#diff-27d7ee08d1c06ad745d07f058848fc03L431

[2015-06-02 18:48] michaelklishin commented on #165
@loganlinn please submit a PR, since you seem to understand what exactly the issue is.

[2015-06-03 15:52] williamhogman opened #166 "Native client doesn't support complex sorting rules"
First off, thanks for an awesome library, its a real pleasure to use :+1: .

Now to my problem, I'm currently working on porting a system using the REST API over to the native one, and I've run into trouble when attempting more complex sorts.

For example using a sort of the form:

[code]

Results in a stacktrace like this:

[code]

Happy to provide any other details if necessary :)

[2015-08-01 09:51] #165 closed

[2015-09-04 17:59] ccfontes opened #175 "Convenience function for reindexing all documents in an index"
[Here is an explanation on how to reindex all the documents](https://www.elastic.co/blog/changing-mapping-with-zero-downtime). It goes on to say many client APIs already do all that work for the users with something like `reindex()`.
![screen shot 2015-09-04 at 18 51 27](https://cloud.githubusercontent.com/assets/2167559/9690726/163d03e8-5336-11e5-850c-695cdb62a6e3.png)

Is there something like `r

[2015-09-04 22:14] michaelklishin commented on #175
@ccfontes there is no. This library is fairly mature and driven primarily by user requests. Feel free to look into it, it sounds like a very easy thing to add.

[2015-09-05 08:49] ccfontes commented on #175
@michaelklishin thanks for taking the time to check this. I should need to implement this soon.

[2015-09-14 13:29] ccfontes opened #176 "remove duplicates in search results"
Wouldn't it be nice to have a function that removes entries with `:_source` dups in search results?

The following entries would be instances of duplication:
[code]
The problem: It already happened to me inserting the same data twice.

Possible to do it with this one liner:
[code]
but distinct-by is not shipped with Clojure.

[2015-09-15 08:12] michaelklishin commented on #175
@ccfontes any updates on this?

[2015-09-15 08:14] michaelklishin commented on #176
@ccfontes if an ES query returns duplicate results, is it really the client's responsibility to deduplicate? I'm not sure. Please investigate what the response contains, e.g. with curl.

[2015-09-15 08:14] #176 closed

[2015-09-15 10:19] ccfontes commented on #175
I have this working:
[code]
Size needs to be fixed.

I'm returning the query results in case reindex doesn't do its job well, so the user can back the data.

I didn't see other implementations of `reindex` yet. Maybe there are some better ideas.

[2015-09-20 20:52] #163 closed

[2015-09-22 16:17] ccfontes commented on #175
I did some testing regarding `:settings` and `:mappings` changes, and found they weren't updated. So I came up with new code. There are some things to be fixed like `:query` `:size`, being general for all indexes, and handling of the case where the input `index` is not an alias yet, in an atomic way, if that is possible.

[code]
[code]

**DISCLAIMER** Backup your elastic data first.
First time usa

[2015-09-27 18:54] dahlie opened #177 "How can I use size and from query parameters with search queries?"
I'm implementing an API for web app which uses infinite scroll to display search results. Is there any way to leverage ```size``` and ```from``` query parameters in search queries (as documented here: https://www.elastic.co/guide/en/elasticsearch/guide/current/pagination.html)?

[2015-09-28 05:40] michaelklishin commented on #177
Pass them as [one of the options](https://github.com/clojurewerkz/elastisch/blob/master/test/clojurewerkz/elastisch/rest_api/search_test.clj#L44), REST client should pass everything through.

Please ask questions on the mailing list.

[2015-09-28 05:40] #177 closed

[2015-09-29 08:01] emrehan opened #178 "ElasticSearch 2.0 support?"
Do you have any plans on supporting ElasticSearch 2.0 later on?

[2015-09-29 08:14] michaelklishin commented on #178
Yes. Please use the mailing list for questions.

[2015-09-29 08:14] #178 closed

[2015-10-11 23:56] ronaldsuwandi opened #179 "Missing / exists filter doesn't seem to be working on native driver"
missing / exists filter doesn't seem to work with elastisch. I have the following records
[code]

and querying it directly from elastic search works fine `GET /uni_test/users/_search` returns all 3 records while
[code]
returns 2 records as expected, but when I do it in elastisch I keep getting all 3 records
[code]
I’ve tried with both `:filter` and `:query` as well as `:filtered` query, also tried

[2015-10-12 02:59] ronaldsuwandi commented on #179
Forgot to mention it works fine on *rest* driver but not on native driver

[2015-10-12 09:23] michaelklishin commented on #179
Thanks. This is a duplicate of #145. May I ask you to post the above examples there?

[2015-10-12 09:23] #179 closed

[2015-10-12 09:30] ronaldsuwandi commented on #179
Thanks @michaelklishin will do

[2015-10-12 09:33] ronaldsuwandi commented on #145
The same with `missing` / `exists` filter.

I have the following records
[code]
and querying it directly from elastic search works fine `GET /uni_test/users/_search` returns all 3 records while
[code]
returns 2 records as expected, but when I do it in elastisch I keep getting all 3 records
[code]
I’ve tried with both `:filter` and `:query` as well as `:filtered` query, also tried using elastisch 2

[2015-10-19 18:37] raunakb94 opened #180 "Specifying routing key while using search api"
I am trying to use the document search api and specify the routing key as
(esd/search conn index-name index-type query :routing routing-key),
But at the end of the search request i found out that the query hits all the shards of the index(Which comes as a part of the response body from elasticsearch under the shards-hit keyword). Moreover the Http Url formed also doesnot contains a ?routing=routin

[2015-10-19 18:57] michaelklishin commented on #180
`:routing` should be [passed to query params](https://github.com/clojurewerkz/elastisch/blob/master/src/clojurewerkz/elastisch/rest/document.clj#L201).

What version do you use? Can you provide a test case?

[2015-10-19 18:58] michaelklishin commented on #175
After giving it some thought, I think this function may end up being more opinionated that I expected and thus we shouldn't have it in Elastisch until a proven solution emerges.

[2015-10-19 18:58] #175 closed

[2015-10-19 19:05] raunakb94 commented on #180
I am using elastisch 2.1.0. If possible can you suggest a test-code for any routing key index name and any type.

[2015-10-19 19:08] michaelklishin commented on #180
@raunakb94 we have the docs. Please refer to them. If you have a test case we can use, I'm happy to triage this.

[2015-10-19 19:16] raunakb94 commented on #180
Thanks for the time!! It was helpful!! I solved the issue.

[2015-10-19 19:16] #180 closed

[2015-10-19 19:20] ccfontes commented on #175
You're right.
I'll still update improvements to the function if you don't mind. It can still be useful, even if too opinionated to become integrated in the library.

[2015-10-20 12:57] ccfontes commented on #175
Removed `idx-opts` from `reindex` inputs.

[2015-11-05 10:33] shifr opened #182 "Sub aggregations in native mode"
Thanks for good library!! I'm using native protocol and it worked well, but when I've added sub aggregations to my query I didn't receive result I wanted.
Then I switched my connection to the REST mode and passed it the same query and it returned normal result with sub aggregations as expected.

***Query example***
[code]

***Result example over native protocol***
```(:group (:aggregations result)

[2015-11-05 12:46] michaelklishin commented on #182
Sub-aggregations are likely not supported in the native client.

[2015-11-05 13:51] shifr commented on #182
This is so sad :(

[2015-11-20 17:16] timgluz commented on #154
Hi, i'm going to work on suggesters over the weekend - got today simple completionsuggester to work with native-client and will add others too.

[2015-12-05 17:57] adomokos opened #185 "Documentation is Off"
As I am going through the documentation I noticed an incorrect example.

The example states `[clojurewerkz.elastich.response.response :as esrsp]`, it should be `[clojurewerkz.elastish.native.response :as esrsp]`. I'd be happy to submit a PR if someone could provide the github repo for the documentation website. Thanks!

![native_response](https://cloud.githubusercontent.com/assets/80530/11609245/5

[2015-12-05 18:49] adomokos commented on #185
Found another one, the "c" is missing.

![missing_char](https://cloud.githubusercontent.com/assets/80530/11609528/98c393e4-9b4e-11e5-9486-ae4bc35b2135.png)

[2015-12-06 10:11] michaelklishin commented on #185
@adomokos the docs are [open source](https://github.com/clojurewerkz/elastisch.docs).

[2015-12-06 10:11] #185 closed

[2015-12-09 08:12] ronaldsuwandi commented on #145
any news on this bug?

[2015-12-09 08:24] michaelklishin commented on #145
@ronaldsuwandi I hope to fix it before 2.2.0. This is open source software, however, so if you need it fixed soon, please consider investing your own time.

[2015-12-09 20:59] michaelklishin commented on #166
I'm going to close this:

 * We support `:sort` values that are `SortBuilder`s. While this is not as nice as maps, ElasticSearch allows for really complicated builders and in a dynamically typed language, mapping them to their Java counterparts is really hairy. So using Java interop for those who need it is a better option.
 * Besides nested filters, we support most cases with maps and string-base

[2015-12-09 20:59] #166 closed

[2015-12-09 21:14] michaelklishin commented on #145
Looks like it may be a matter of aliasing `:post-filter` to `:filter` in the native client. Java client has renamed `.setFilter` to `.setPostFilter` at some point as far as I can tell. Will continue digging tomorrow.

[2015-12-09 22:39] williamhogman commented on #166
I understand. Thanks for addressing this. 👍

[2015-12-10 07:34] ronaldsuwandi commented on #145
thanks @michaelklishin . I'll take a look as well

[2015-12-11 08:38] michaelklishin commented on #154
There's some suggester support in the native client in master now.

[2015-12-19 01:01] #145 closed

[2015-12-19 01:02] michaelklishin commented on #145
OK, that was indeed it: option name was off and one test that performed filtering had an incorrect expectation since April 2014 (!).

This is really embarrassing but oh well. Fixed in master, I'm going to release `2.2.0-rc1` over the w/e.

[2015-12-23 23:06] chaithrar opened #190 "Not able to connect to elastic serach"
Hi,

I am trying to connect to Elastic search via rieman but getting below error while connecting to it.
Can you please tell me whats I could be missing

ERROR [2015-12-23 22:10:22,680] main - riemann.bin - Couldn't start
java.lang.RuntimeException: No such var: esr/connect!, compiling:(riemann/elastic.clj:91:3)
        at clojure.lang.Compiler.analyze(Compiler.java:6464)
        at clojure.lang.C

[2015-12-23 23:50] michaelklishin commented on #190
Please ask questions on the mailing list.

Riemann assumes an old version of Elastisch, which has that function.

[2015-12-23 23:50] #190 closed

[2016-01-03 17:01] matthiasn opened #191 "v2.2.0 not on Clojars"
Hi, I see you've tagged v2.2.0 but it's not on Clojars. Would you mind publishing it? Cheers and Happy New Year, Matthias

[2016-01-03 19:13] henriklundahl commented on #191
There are a lot of problems with Clojars right now, which probably is the reason for it not being published yet.

[2016-01-03 21:00] matthiasn commented on #191
Hard say, I published a handful of artifacts today with zero problems.

[2016-01-04 04:15] michaelklishin commented on #191
@matthiasn Clojars was down for several hours yesterday when I did the tagging. It is published now.

[2016-01-04 04:15] #191 closed

[2016-01-04 07:32] matthiasn commented on #191
Great thanks

[2016-01-09 00:29] MerelyAPseudonym opened #192 "`c.e.r.response/ok?` erroneously reports false when updating a document"
Elastisch’s [Getting Started](https://github.com/clojurewerkz/elastisch.docs/blob/2e28162c779ffdbe3e620970682a763389bcadda/articles/getting_started.md#checking-responses) and [Indexing](https://github.com/clojurewerkz/elastisch.docs/blob/2e28162c779ffdbe3e620970682a763389bcadda/articles/indexing.md#with-http-client) pages make it sound like `clojurewerkz.elastisch.rest.response/ok?` should _always

[2016-01-09 10:57] michaelklishin commented on #192
@MerelyAPseudonym please submit a PR? Here's [the docs repo](https://github.com/clojurewerkz/elastisch.docs).

[2016-01-11 19:11] MerelyAPseudonym commented on #192
@michaelklishin Sure! I was already looking into how to resolve the issue, although I'm not confident that it's a documentation problem per se—even if the user were warned about the limitation of `ok?`, she/he would still need a way to verify that a PUT command worked. One solution might be "make sure that the response body doesn't contain a top-level `error` attribute", but why not teach `ok?` th

[2016-01-11 19:16] MerelyAPseudonym commented on #192
Hm. From commits [a76e759][] and [d568425][], it looks like `ok?` persists in the codebase for legacy reasons. Could/should it be considered deprecated?

[a76e759]: https://github.com/clojurewerkz/elastisch/commit/a76e7595344ddb0dfd2959a1ea1db9d377b60b2d
[d568425]: https://github.com/clojurewerkz/elastisch/commit/d568425b22e2339720f07a485f2ea76b7698e208

[2016-01-11 19:55] michaelklishin commented on #192
@MerelyAPseudonym your understanding is correct.

[2016-01-11 20:21] MerelyAPseudonym commented on #192
Also, full disclosure: my hunch is that this issue is *actually* because the `clojurewerkz.elastisch.rest.{,*.}clj` APIs have a couple of design flaws:

1. it's impossible to override Elastisch's defaults for certain `clj-http` request options (in particular, `:throw-exceptions`)
2. Elastisch discards the HTTP response data, preventing the user from using anything not in the `:body` (in particular

[2016-01-11 20:22] MerelyAPseudonym commented on #192
@michaelklishin Oh, thanks for the confirmation! (I hadn't refreshed the page before writing my previous comment)

[2016-01-11 20:23] michaelklishin commented on #192
Those are not design flaws but choices made by HTTP service clients. If you want to use an HTTP client directly, you don't need Elastisch.

[2016-01-11 20:33] MerelyAPseudonym commented on #192
I disagree, but I'm not confident we're on the same page. I'd guess that a PR would be the most effective illustration of what I was talking about, so… consider the ball in my court?

[2016-01-11 20:36] michaelklishin commented on #192
One simple question I'd like someone who claims abstracting HTTP API is a flaw: how would you support an API that is nearly identical to the native client? If this is a bug then all abstractions are and everybody should use HTTP directly. Except that from my experience, nobody wants to, and this is why Elastisch is possibly the most widely adopted ClojureWerkz project.

Anyhow, if you want to subm

[2016-01-20 22:41] royaldark opened #196 "ES 3.x ...?"
Is it a typo in the readme when it says `As of January 2016, after the 2.2 release, Elastisch development targets ElasticSearch 3.x.`? I assume it should say ElasticSearch 2.x?

[2016-01-20 22:46] michaelklishin commented on #196
master will target 3.x as soon as we get at least most of the API working on 3.x. It is not a typo.

[2016-01-20 22:46] #196 closed

[2016-01-20 23:42] royaldark commented on #196
So will ES 2.x support be skipped? Later in the readme it says `Elastisch does not currently support ElasticSearch 2.x. It will be our focus after the (Elastisch) 2.2 release.`

[2016-01-21 00:23] michaelklishin commented on #196
Err, I'm lost in ES versions. No, the goal is to target 2.x, of course, as 3.x doesn't yet exist :)

[2016-02-05 18:47] loganmhb opened #198 "clj-http :throw-exceptions option"
Why does elastisch not allow the user to set clj-http's :throw-exceptions option as it does other options? I'd prefer to be able to throw an exception when an elastisch call fails -- this would be a nice usability improvement unless it would break something else. Thanks!

[2016-02-05 18:48] michaelklishin commented on #198
I'm OK with allowing it to be changed as long as the default stays the same. Feel free to submit a PR.

[2016-02-06 14:18] michaelklishin commented on #198
Fixed in #199 but #200 might be an even better way to go.

[2016-02-06 14:18] #198 closed

[2016-02-17 18:50] KeeganMyers opened #201 "Support for search templates?"
I have incorporated elastisch into a long running project that has a requirement for users to build and store sanitized queries. After reviewing the documentation it appears that search templates in Elasticsearch would achieve this well. However, after reviewing the documentation and searching the source for elastisch I was not able to find any way to use search templates.

Has search template fun

[2016-02-18 01:26] michaelklishin commented on #201
I think the answer is "nobody to date needed it, so no".

[2016-02-18 13:18] KeeganMyers commented on #201
Roger, from cross referencing various version of the Elasticsearch documentation I found that this works well for creating the  search template

(esd/create
 conn ".scripts" "mustache" {:template {:filter {:bool {:must [{:term {:name "{{name}}"}}] }} }} :id "test-template")

And the template can be retrieved using a standard get by id. However, I am still struggling with rendering the template. I

[2016-02-22 18:44] quimrstorres commented on #138
Hey @michaelklishin and @gtrak ,

I've been looking into this and I think there is a slight misunderstanding. By looking at the code posted by @gtrak, it seems to me that he simply passed the input operations in an unexpected format to `bulk-index`.
It is true that `scroll-seq` does not unwrap the `_source` field and simply creates a lazy sequence based on the response `hits` field in the response

[2016-02-22 19:38] michaelklishin commented on #138
@quimrstorres there are functions in Elastisch that already have to do filtering out response keys such as `_source`. There's some reuse potential.

[2016-03-15 00:23] michaelklishin commented on #201
@KeeganMyers so #202 fixes this for the binary client. Do we need to do anything else (e.g. update the REST one to match) or can this be closed now?

[2016-03-15 19:02] KeeganMyers commented on #201
I think this can be closed. It would be nice ideally for the native and http clients to remain similar. Unfortunately I'm working on borrowed time as it is and can't address issues that fall outside the scope of my current project.

[2016-03-15 23:23] #201 closed

[2016-03-21 01:25] jdkealy opened #203 "document how to define mappings with nested properties"
Hi,

I'm looking for how to create an index that looks more or less like this:

`(def photos-mappings
  {"photos" {:properties {:image   {:type "string" :store "yes"}
                          :tags {:name "string"
                                    :type "string" }
                          :id      {:type "integer" :store "yes"}}}})`

I've used elasticsearch to call queries like tags.name = "x"

[2016-03-21 01:45] #203 closed

[2016-03-23 21:39] royaldark opened #204 "ES 2.x support"
I'm hoping this issue can be a coordinating place for ES 2.x support in Elastisch.

I didn't see any 2.x-related commits here yet, so I've begun cleaning up some of the major breaking changes on my fork: https://github.com/royaldark/elastisch/tree/es-2x.

It's gone well so far, but I haven't sunk too much time in yet :) I'm fixing compile errors one NS at a time to begin.

[2016-03-23 21:44] michaelklishin commented on #204
@royaldark thank you!

[2016-03-24 07:36] royaldark commented on #204
I have Elastisch compiling & testing successfully against ES 2.0 now. Most of the changes address the removal of features from ES:
- More Like This API
- Mapping deletion
- Index status API
- Delete by query
- Facets

There is one failing test (`test-avg-aggregations`), but it fails identically on master for me.

I guess the next step, where some pointers would be helpful, is determining what feat

[2016-03-24 10:49] michaelklishin commented on #204
@royaldark I'd recommend merging what you've got so far and producing a first 3.0 preview release. I'd be happy to take a look at the failing test. Please submit a PR?

[2016-03-24 19:29] royaldark commented on #204
Done. https://github.com/clojurewerkz/elastisch/pull/205

[2016-03-28 23:38] michaelklishin commented on #204
We are maybe 60% there with the test suite thanks to #205 and a few more fixtures tweaks. Still a couple of dozens of errors and failures to go, and several test namespaces to uncomment.

[2016-03-29 18:37] MerelyAPseudonym commented on #204
I was going through the failing tests for `clojurewerkz.elastisch.rest` namespaces recently. I'll make a branch available soon.

[2016-03-29 18:42] michaelklishin commented on #204
@MerelyAPseudonym I wouldn't mind adding you as a collaborator to this repo if this would make things easier for you. Let me know.

[2016-04-04 07:33] MerelyAPseudonym commented on #204
I've pushed my changes to [the `es2-WIP` branch in my fork](https://github.com/MerelyAPseudonym/elastisch/tree/es2-WIP). In that branch, all of the non-native tests up through `clojurewerkz.elastisch.rest-api.indices-test` pass.

Regarding your offer @michaelklishin: that sounds great. I'll still create PRs for anything I'm not 100% sure about, but I'd be happy to work alongside you and @royaldark

[2016-04-11 14:08] timgluz commented on #204
@MerelyAPseudonym  hi, is there any tests/task left? i
is there a way we can coordinate tasks?

[2016-04-12 17:48] timgluz commented on #204
I just fixed the last failing test of REST-client on @MerelyAPseudonym's  es2-WIP branch and open pull-request there;

[2016-04-12 19:18] michaelklishin commented on #204
@timgluz thank you! Since @MerelyAPseudonym is now a member of this repo, why not submit the PR for this repo?

By the way, I'd be happy to add you as a collaborator if you see any value in it.

[2016-04-12 19:35] timgluz commented on #204
OK, i will do it tomorrow, it's quite late here - i must pull the latest changes from the master branch and resolve some git conflicts before i can do pull-request.

Thanks for your offer, but i'll pass it - quite happy with my current status.

[2016-04-13 03:11] MerelyAPseudonym commented on #204
Hey all, I should have plenty of time to devote to this tomorrow.

@timgluz I'm really excited to check out your PR =)

[2016-04-13 18:46] andrewsuzuki opened #207 "Explain parameter on native?"
Is there a way to tack on an explain parameter on native (or rest)?

I tried:

[code]

[2016-04-13 22:53] michaelklishin commented on #207
Please ask questions on the mailing list.

You certainly can add extra query parameters to most REST client queries. I doubt that explain specifically is supported in the binary one.

[2016-04-13 22:53] #207 closed

[2016-04-17 18:08] mbuczko commented on #204
hey guys, is there any chance to get elastisch running with newest elastic 2.3.x soon ?

[2016-04-17 18:21] timgluz commented on #204
yes, i'm going run test against 2.3 tomorrow and there shouldn't be much of breaking changes. so i guess RC will land some point next week.

[2016-04-17 21:07] michaelklishin commented on #204
@mbuczko @timgluz this is open source software. Those who need compatibility with ES 2.x soon should consider contributing instead of asking others to do all the work.

[2016-04-17 22:40] mbuczko commented on #204
Well, I'm not asking others to do all the work, I'm just curious what's the status of current work on 2.x branch to not duplicate work already done. It's great to hear that @timgluz actually finished his changes and I'll be really happy to support him in testing or contributing to upcoming release candidates.

[2016-04-19 20:17] timgluz commented on #204
I managed to get Travis to [work again](https://github.com/timgluz/elastisch/tree/travis-fix) by replacing default ES that Travis provides with Dockerized version;

`native-api/aggregation` tests are still failing and the reason seems to be quite silly - it fails to cleanup fixtures : https://travis-ci.org/timgluz/elastisch/builds/124289146

[2016-04-19 21:33] mbuczko commented on #204
I tried native api out with some nested aggregations on elastic 2.3 and looks like it works pretty nice. Amazing job, thanks :)

[2016-04-19 22:09] michaelklishin commented on #204
@mbuczko thank you for the feedback. We have quite a bit of things to revisit, add, and edit (the docs).

[2016-04-20 17:15] MerelyAPseudonym commented on #204
Sorry guys, I've been really busy with work, trying to get a project over the finish line. Once that's done, though, I should have more time again to devote to Elastisch. Anyway, I'm happy to see that @michaelklishin was able to help @timgluz integrate his changes!

[2016-04-20 17:16] MerelyAPseudonym commented on #204
By the way, @timgluz, when I tested [your other PR](https://github.com/MerelyAPseudonym/elastisch/pull/1) I was able to get all of the (REST-client only) tests to pass against ES 2.0, ES 2.1, ES 2.2 **and** ES 2.3!

[2016-04-20 17:21] MerelyAPseudonym commented on #204
@michaelklishin How do you want to handle updating [`elastisch.docs`](https://github.com/clojurewerkz/elastisch.docs)? Should there be a `3.0-updates` branch?

[2016-04-21 07:04] mbuczko commented on #204
I did some more tests and I put query in a loop executing aggregation once a 3 sec. After a few seconds I got:

     java.lang.OutOfMemoryError: unable to create new native thread

I'll try to dig a bit deeper in the evening to see what's going on.

[2016-04-21 08:12] michaelklishin commented on #204
@mbuczko can we please move these discussions to the mailing list? It's not exactly great that all kinds of things are discussed in this issue. Elastisch cannot be blamed for your JVM running out of kernel threads when you do something in a loop.

[2016-04-21 08:12] #204 closed

[2016-04-21 10:08] wenma opened #213 "when the 3.0 release ?"
for elasticsearch 2.3.1

[2016-04-21 10:12] wenma commented on #213
We have a lot of people are looking forward to this version

[2016-04-21 16:19] michaelklishin commented on #213
When it's done.

[2016-04-21 16:19] #213 closed

[2016-04-21 16:20] michaelklishin opened #214 "Release 3.0.0-beta1"
Now that https://github.com/clojurewerkz/elastisch/issues/204 is merged and key operations are supported (but the work towards 3.0 is by no means done), we should a milestone release.

[2016-04-25 00:10] MerelyAPseudonym opened #215 "Proposal: require options-maps instead of pseudo keyword arguments"
In the same vein as [a similar change in Langohr](https://github.com/michaelklishin/langohr/blob/6aa36f823e46c82cfa434c266bdc04d975f083ac/ChangeLog.md#options-as-maps), I propose that Elastisch functions accept their options as proper Clojure maps, rather than as pseudo keyword arguments. Furthermore, including this change as a part of the 3.0 release makes sense to me, since we'll already be incl

[2016-04-25 03:22] michaelklishin commented on #215
@MerelyAPseudonym don't we already do that in `2.x` (but pseudo-kwargs are still supported)? I'm not against requiring maps but we'd need to rework all docs.

Anyhow, feel free to look into it :)

[2016-04-27 18:28] MerelyAPseudonym opened #216 "Proposal: treat docstrings as Markdown rather than plain text"
To illustrate the difference, compare the following screenshots:
<img width="613" alt="clojurewerkz.elastisch.rest.document/create docstring as plain text" src="https://cloud.githubusercontent.com/assets/831177/14863340/4eaf0e36-0c83-11e6-8c4e-8b067639df31.png">

<img width="588" alt="clojurewerkz.elastisch.rest.document/create docstring as rich text via markdown" src="https://cloud.githubusercont

[2016-04-27 18:46] MerelyAPseudonym commented on #216
I anticipate keeping incremental commits in my `feature/markdown-docstrings` branch until it's all ready to go. Since I doubt there will be any value in keeping the intermediate commits, when the time comes I'll probably rebase onto `master` and squash everything into a single commit.

[2016-04-27 18:46] MerelyAPseudonym commented on #216
Anyway, @michaelklishin are you on board with this? I don't want to make broad changes across the codebase (even if they're just documentation changes) if you're opposed.

[2016-04-27 18:50] michaelklishin commented on #216
👍

[2016-04-27 18:54] MerelyAPseudonym commented on #216
cool, thanks!

[2016-04-27 19:07] MerelyAPseudonym commented on #216
Something that is up for debate is which style to use for the code examples in the docstrings: indents or “fences”.

<pre>
Description.

Example:

    (foo "bar")
    (fizz (buzz))
</pre>

<pre>
Description.

Example:

[code]
</pre>

The first style is arguably a little more readable when viewing the raw docstring text, but the second includes a little more style information in the generated HTML.

[2016-04-27 19:40] michaelklishin commented on #216
We use a Markdown library that should support "fences." I personally like them and use them very often on GitHub.

[2016-04-27 20:07] MerelyAPseudonym commented on #216
I'll stick with fences then. Thanks for the input!

[2016-04-27 20:11] MerelyAPseudonym commented on #216
(fences were my preference as well, though it's a very mild preference)

[2016-04-29 18:48] MerelyAPseudonym opened #217 "Many links to official Elasticsearch documentation are out of date"
For example, [the docstring of `clojurewerkz.elastisch.native.index/create`](https://github.com/clojurewerkz/elastisch/blob/c985dffb279f16912e1af9a1e84fe07f0f56dc35/src/clojurewerkz/elastisch/native/index.clj#L67) includes a link to http://www.elasticsearch.org/guide/reference/api/admin-indices-create-index.html, which redirects to https://www.elastic.co/guide/en/elasticsearch/reference/current/in

[2016-04-29 18:49] MerelyAPseudonym commented on #217
Btw, I have a WIP branch at https://github.com/merelyapseudonym/elastisch/tree/fix-URLs-for-3.x.

[2016-04-29 18:58] MerelyAPseudonym commented on #217
In addition to updating the links to point to elastic.co instead of elasticsearch.org, I'd like to take the opportunity to include the Elasticsearch version number in the URL. By including a link to (for example) <https://www.elastic.co/guide/en/elasticsearch/reference/2.3/indices-create-index.html> instead of <https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-create-index.ht

[2016-04-29 19:01] MerelyAPseudonym commented on #217
Btw, as a side benefit of figuring out what the latest URLs should be, I've been finding [additional](https://github.com/MerelyAPseudonym/elastisch/commit/087f640d2ffa8019c955e348fbe9f992e41ccc67) [features](https://github.com/MerelyAPseudonym/elastisch/commit/3826729cbc79fa6129e204549a1e33f621d6f426) that were removed in Elasticsearch 2 and thus probably be removed from Elastisch 3.

[2016-04-30 03:22] michaelklishin commented on #217
@MerelyAPseudonym yup. Thank you for doing this incredibly tedious work.

[2016-05-06 16:14] smaant commented on #214
I'm developing a service backed by elasticsearch now and initially I was going to use ES 2.3 but discovered it's not supported by elastisch. My service is going to hit production in about a month, do you think it'll be completely insane to start developments using current master of elastisch expecting it'll be close to 3.0 release in a month?

[2016-05-06 18:38] MerelyAPseudonym commented on #217
My thoughts on this task have evolved a bit: instead of batch-updating every URL, I’d like to only update a docstring’s URL after verifying that the content of that docstring is up to date *and consistent* with what the user would find at the documentation linked to by the URL. So now I'm treating the URLs to elasticsearch.org as empty checkboxes, indicating that the docstring has not been polishe

[2016-05-07 01:08] michaelklishin commented on #217
@MerelyAPseudonym no objections to doing incremental changes in master.

[2016-05-07 01:08] #216 closed

[2016-05-07 01:29] michaelklishin commented on #214
I wouldn't expect it to be close to 3.0 in a month but it might very well be reasonably stable for you to start today.

[2016-05-20 06:05] MerelyAPseudonym commented on #215
This work is nearly done. I have a branch in my repo that passes all of the tests, but I still need to finish cleaning up the history—something I hope and expect to get to tomorrow.

[2016-05-21 09:07] #215 closed

[2016-05-31 17:29] royaldark commented on #214
@michaelklishin Is there a list of what still needs to be accomplished for 3.0?

[2016-05-31 17:37] MerelyAPseudonym commented on #214
@royaldark I'm curious about that too. In my opinion, we're ready for a beta release.

FWIW, at my job we're in the process of upgrading to Elasticsearch 2.3.3, so despite my being busy with other things as of late, very soon I'll be putting Elastisch 3 through its paces.

[2016-05-31 21:18] michaelklishin commented on #214
@royaldark porting the original test suite to the extent we can (some things have to be dropped), then stabilizing it and updating the docs. Except for the docs part we are most of the way there, so I think releasing a beta of 3.0 some time this week is very realistic.

[2016-06-02 10:18] michaelklishin commented on #214
I'm waiting for updates/responses on #221 and then doing a beta release.

[2016-06-05 20:20] MerelyAPseudonym opened #223 "Idea for future (v4+): use official API specs, possibly for code generation"
Elastic [provides a collection of JSON files that describe the Elasticsearch HTTP API](https://github.com/elastic/elasticsearch/tree/2.3/rest-api-spec/src/main/resources/rest-api-spec/api) that are explicitly meant to “facilitate development of libraries and integrations”. It seems worth investigating the possibility of using those specs in Elastisch, whether for code generation (à la Carmine, whi

[2016-06-05 20:56] michaelklishin commented on #223
Sounds good.

[2016-06-10 02:56] devth commented on #10
Anything ever happen with this? An in-memory ES is extremely useful for testing. This is what ZooKeeper provides as well.

[2016-06-12 15:51] michaelklishin commented on #214
`3.0.0-beta1` is up on Clojars.

[2016-06-12 15:51] #214 closed

[2016-06-20 15:14] dtenny commented on #215
Just for the record as a contrary opinion, I wholly disagree with the rationale for breaking the API in this way.  It serves no functional purpose (i.e. no net gain in capability, no fix to egregious bugs), and it _breaks existing code_ without benefit of a real purpose for doing so.  Furthermore, it breaks code in a way which is not detected at compile time, so the poor users of the API will find

[2016-06-20 15:52] MerelyAPseudonym commented on #215
@dtenny I _do_ think that including a sorta explanation/rationale in the changelog for this switch would be a good idea. (Perhaps I even should have held off on submitting the PR until writing such a thing.)

So, with the goal of getting Elasticsearch 2 compatibility to our users ASAP, I’m open to the idea of reverting #220 temporarily. I envision a roadmap something like the following:
- Elastisc

[2016-06-20 15:59] MerelyAPseudonym commented on #215
I overlooked this because I was primarily using Cursive; it statically detects the bad arity and highlights the error for you:
<img width="441" alt="Cursive bad-arity reporting" src="https://cloud.githubusercontent.com/assets/831177/16201040/be507930-36dd-11e6-96d0-2aae73ed9c84.png" />

I assumed the same thing would happen during compilation, but a couple experiments with `lein compile :all` have

[2016-06-20 20:58] MerelyAPseudonym commented on #215
Regarding the benefits of options-maps vs kwargs: the main issue is that kwargs do not compose well, and a side-benefit is that the `:arglists` metadata can/will become more meaningful.

Good discussions about options-maps and kwargs can be found at:
- <http://yellerapp.com/posts/2015-03-22-the-trouble-with-kwargs.html>
- Zach Tellman’s [_Elements of Clojure_](http://elementsofclojure.com/)

The l

[2016-06-20 21:13] michaelklishin commented on #215
@dtenny have you tried composing a map of options to then pass them to a function that uses pseudo-kwargs? Try it. That alone is a worthy gain.

[2016-06-20 21:18] michaelklishin commented on #215
On top of the previously voiced arguments, this change is for Elastisch 3.0, which has plenty of breaking API changes simply because ElasticSearch 2.x has them.

[2016-06-21 12:22] dtenny commented on #215
I understand the goals of making these functions fit the clojure mold better.  What I have a problem with is breaking existing code when it isn't necessary.  Libraries that deliberately break working code _when there are alternatives_ is very high up on my evil things to do meter.

In this case the alternatives are not pretty.  You could provide new functions with new signatures, leave it to users

[2016-06-21 12:26] michaelklishin commented on #215
Elastisch has been doing a hybrid thing for years. Backwards compatibility has been an important factor for ClojureWerkz projects and we have 5 years behind us to back this claim. For a new major versions that target an ElasticSearch release with breaking changes, *keeping broken API parts* would be the most evil decision possible.

Sorry but you are advocating for not changing certain things *eve

[2016-06-21 12:27] michaelklishin commented on #215
I am locking this because there is no point to debate something that's the right thing to do for 3.0 and that's already been merged.

[2016-07-08 15:54] devth opened #226 "Enable the use of Elastic Shield"
https://www.elastic.co/guide/en/shield/current/_using_elasticsearch_java_clients_with_shield.html

[2016-07-15 21:11] royaldark opened #229 "_version_type ignored in native bulk"
#227 added support for `_version` and `_version_type` in bulk requests. This works great over REST, but the version type is ignored in native.

This happens because `common.bulk/index-operation` uses keys of the form `_version_type`, but `native.conversion/->action-requests` wants the key `version-type` (which, if passed in, would be stripped by `common.bulk`).

[code]

Not sure the best solution

[2016-08-08 15:17] JoshAaronJones opened #234 "Native get-mapping ignores index name in 2-arity version, returns all index mappings"
The 2-arity version of `clojurewerkz.elastisch.native.index/get-mapping` ignores the `index-name` parameter, and would have no way of retrieving mappings for the specified `index-name`.  But beside simply returning a map of all indices, it seems that the map contains duplicate data, with cases like the following (in my example): `:locindex {:mappings {:get-together {:mappings {: ... }` where `loci

[2016-08-08 18:57] michaelklishin commented on #234
Feel free to submit a pull request against the `2.2.x-stable` branch.

[2016-08-11 15:10] nha opened #236 "doc link is dead"
The following link is dead:
http://clojureelasticsearch.info/articles/distribution.html

However it is referenced here:
http://clojureelasticsearch.info/articles/getting_started.html#what-to-read-next

It may be just the result of a transition between versions but I thought I would mention it here.

[2016-08-11 15:13] nha opened #237 "hello request"
I do not see in the docs (and a quick code scan), a request to get the following request from ES :

http://localhost:9200/
[code]

It is easy enough to do myself but I thought this could be included in elastisch.

[2016-08-11 21:39] KeeganMyers commented on #237
For rest this is
(require '[clojurewerkz.elastisch.rest :as er])
(er/get conn "http://localhost:9200")

for native you should be able to use
 (require ' [clojurewerkz.elastisch.native :as es])
(import '[org.elasticsearch.action.get GetRequest])
(es/get conn (GetRequest. "/" ))
which will return an instance of org.elasticsearch.action.support.PlainActionFuture you will have to review java api docs

[2016-08-12 08:20] michaelklishin commented on #237
Feel free to look into a pull request for both. Like everywhere else, we should return immutable Clojure maps and not Java objects ;)

[2016-08-12 08:22] michaelklishin commented on #236
It's not dead, it simply wasn't finished. Doc guides [have a separate repo](https://github.com/clojurewerkz/elastisch.docs).

[2016-08-12 08:22] #236 closed

[2016-08-19 15:55] coxchen commented on #182
Hi @shifr, I'm using [clojurewerkz/elastisch "2.2.2"] and it supports sub-aggregations.

For example:
[code]
and the response is as expect:
[code]

[2016-08-22 10:07] shifr commented on #182
Hi @coxchen, great news! Thank you.

[2016-08-22 10:39] #182 closed

[2016-08-22 22:21] nha commented on #237
For those reading this, I use the following function with the REST api:

[code]

[2016-09-23 13:48] quimrstorres opened #243 "HTTP API nodes stats endpoint - unable to select specific groups of stats"
I looked into the issue and it seems like the parameters passed to this endpoint are being ignored.

[These tests](https://github.com/clojurewerkz/elastisch/blob/master/test/clojurewerkz/elastisch/rest_api/nodes_stats_test.clj#L30-L32) are intended to cover this scenario but they are passing for a different reason. This response is always slightly different due to a couple of variable fields.

[2016-09-23 15:37] #243 closed

[2016-09-24 13:53] quimrstorres commented on #95
Hey @michaelklishin ,

How do you see this change being implemented? The `clojurewerkz.elastisch.native.conversion` namespace would have a bunch of `->*-builder` functions to replace the `->*-request` ones?

I've spent some time looking into this but the Elasticsearch docs on the site does not help a lot. I try to see how the previous versions of the Java client worked when compared to the current

[2016-09-24 15:06] quimrstorres commented on #229
Is it possible that [this function](https://github.com/quimrstorres/elastisch/blob/master/src/clojurewerkz/elastisch/native/conversion.clj#L1383-L1387) should be slightly different?

It looks like it should ensure the compatibility of the keys that are passed to `->action-requests` (see [here](https://github.com/quimrstorres/elastisch/blob/master/src/clojurewerkz/elastisch/native/conversion.clj#L1

[2016-09-25 12:37] michaelklishin commented on #229
@quimrstorres if you have a test case that demonstrates the issue to go with it, feel free to do it. Af first glance your findings seem reasonable. Thank you.

[2016-09-25 12:37] michaelklishin commented on #95
@quimrstorres yup. The conversion functions are not part of the public API, so don't worry about introducing breaking changes. I wouldn't object if this went into 3.0, too.

[2016-09-25 13:46] quimrstorres commented on #95
@michaelklishin cool, thanks!

[2016-10-28 12:07] martintrojer opened #245 "Support Elasticsearch5.0"
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking-changes-5.0.html

[2016-10-29 11:37] timgluz commented on #245
Hi,

i'm able to join the forces and i can do some serious contributions next couple of weeks;

[2016-10-29 14:51] timgluz commented on #226
i'll digg into that;

[2016-10-29 16:19] michaelklishin commented on #245
@timgluz woohoo!

[2016-11-20 18:16] nkhadakkar commented on #245
Hi,
any news on upgrading to 5.0 ?

[2016-11-20 18:26] michaelklishin commented on #245
@nkhadakkar no news from me. this is an open source project. You can contribute to it.

[2016-11-20 18:34] MerelyAPseudonym commented on #245
*My* priority is to get things polished for a 3.0 stable release (supporting Elasticsearch 2), but after that of course I'd like to see support for Elasticsearch 5, and would enjoy helping to implement that. Unfortunately, things at work have been _extremely_ busy as of late, so I haven’t had the time to help get Elastisch 3 over the finish line.

[2016-11-20 18:46] michaelklishin commented on #245
Good point. `3.0` should definitely ship before ElasticSearch 5.0 work starts.

[2016-12-18 12:18] timgluz commented on #226
Hi,

I'm almost done with this task, but I have a few question before i start preparing PR.
Is it fine to add the additional dependency for the `Shield` plugin?
If not, should I publish it as a separate package?

[2016-12-18 13:27] michaelklishin commented on #226
@timgluz most likely it is, can you elaborate? Is it an open source client library from Elastic? under what license?

[2016-12-18 13:36] michaelklishin commented on #226
Looks like it has a library part but is not open source. I cannot find any license or usage information.
If so, it should be an optional dependency (e.g. something that applications list as dependencies if they want to use Shield). We can also consider making it a separate ClojureWerkz project.

[2016-12-18 14:37] timgluz commented on #226
Yes, it's a proprietary extension, managed and owned by Elastic and first install includes only 30days trial; [source](https://www.elastic.co/guide/en/shield/current/license-management.html)

That's why I am thinking of creating a new project `clojurewerkz.elastisch.shield`, which could be added as the additional dependency if people want to work with the `shield`. And another reason is testing -

[2016-12-18 17:44] michaelklishin commented on #226
@timgluz alright. Should I set up a new ClojureWerkz repo for you then?

[2016-12-18 17:48] timgluz commented on #226
Yes, please;

[2016-12-18 18:21] michaelklishin commented on #226
@timgluz done: https://github.com/clojurewerkz/elastisch.shield. I'm making sure you have push permissions now.

One question I have w.r.t. Shield support is how we are going to do integration testing if it's a commercial plugin. Not having tests really sucks.

[2016-12-18 18:24] timgluz commented on #226
Thanks!

I'm adding tests for all the new functionalities and i'm also going to re-use tests from `elastisch` to test that the Shield clients work as `rest-client` and `native-client`.

I'm also going to set up travis for the new project;

[2016-12-30 19:08] jinwg commented on #245
Do we have a pending items list of 3.0 release? just check any help can be offered to start the 5.0 works early..

[2017-01-06 15:16] Poogles commented on #245
Started work on 5.0 myself as we've upgraded and had things break.

https://github.com/clojurewerkz/elastisch/pull/247

[2017-01-07 01:24] neverfox commented on #245
It's also worth pointing out that 1.7 hits EOL on January 16 and Elastic Cloud is pulling the plug on 1.x installations on July 17 through forced upgrades for customer clusters to 2.x. If this library doesn't at least officially support 2.x, Clojure is going to be without any real Elasticsearch client as far as Elastic-supported versions go. The clock is ticking, as they say. Depending on how clos

[2017-01-07 22:23] michaelklishin commented on #245
`2.x` has been supported in master and preview releases for a long time. There will be no jump straight to 5.0 because ElasticSearch 2.x installations aren't going away with the 5.0 release regardless of what Elastic supports.

[2017-01-07 22:28] neverfox commented on #245
@michaelklishin So is the README incorrect when it says "Elastisch master provides Elasticsearch 2.x compatibility but not every Elasticsearch 2.3+ feature"? I guess what I'm saying is that currently, 2.x is being treated as beta functionality, in terms of how it has been released and documented. If that's no longer then case, then there should be a non-beta release so that 2.x support is clearly

[2017-01-07 22:31] michaelklishin commented on #245
@neverfox there will be, when the last few issues for that milestone are reviewed and an RC is out for a week or two. Supporting every ElasticSearch feature is no longer a requirement: there are too many of them and their actual use follows the Pareto principle. Please take this discussion to the mailing list as it has little to do with 5.0 beyond what was already said.

[2017-01-07 22:34] michaelklishin commented on #192
Part of the problem here is that ES has a pretty unfortunate way of indicating success/failure scenarios. I will try to cover more of them but it really should have been reflected in the HTTP response status first and foremost. Maybe it's something that's better in 5.0, in prior versions it's certainly a mess :(

[2017-01-11 22:20] JoshAaronJones commented on #234
I'm going to close this as it's quite old, I'm no longer actively using elastisch, and it is clearly not something anyone else really needs at the moment.

[2017-01-11 22:20] #234 closed

[2017-01-24 06:55] heeboA opened #248 "Delete by query is not working with HTTP (wrong url?)"
The delete by query function doesn't seem to work.

What I have in my code:
`(esd/delete-by-query conn index type {:range {:timestamp {:lte max-timestamp}}})`

Returns:
`{:found false,
 :_index "x",
 :_type "x",
 :_id "_query",
 :_version 1,
 :result "not_found",
 :_shards {:total 2, :successful 1, :failed 0}}`

If I use the same exact same query with "search", it finds the documents. I believe th

[2017-01-24 07:57] michaelklishin commented on #248
@heeboA if this can be reproduced with ElasticSearch 2.x or 3.x, feel free to submit a pull request (with a test, please). Otherwise it's a 5.0 issue and 5.0 compatibility will be addressed after a 3.x-compatible GA release. There's an issue for that.

[2017-01-24 07:57] #248 closed

[2017-01-24 08:04] joachimdb commented on #248
delete-by-query is not supported anymore by elasticsearch >= 2.0 unless an extension is installed, see https://www.elastic.co/guide/en/elasticsearch/plugins/2.0/delete-by-query-plugin-reason.html

[2017-01-24 08:07] michaelklishin commented on #248
@joachimdb thank you. Perhaps we should delete the function then? Or just update the docs for Elastisch 3.0 and remove in a later release?

[2017-03-16 03:38] coreasync commented on #245
I wonder if there is a chance to get released v.3.0.0-RC1. I reviewed all commits since v.3.0.0-beta1 and they seem to be an improvement for ppl wanting to use ES 2.4.

[2017-03-16 06:59] michaelklishin commented on #245
@coreasync I'd like to address #192 first.

[2017-03-28 18:40] stuarth commented on #214
Any thoughts on cutting a new beta release @michaelklishin ? Be great to have one with work that's been done since `3.0.0-beta1`!

[2017-03-28 18:45] michaelklishin commented on #214
@stuarth will do an rc tomorrow.

[2017-03-28 19:14] stuarth commented on #214
thanks!

[2017-03-30 21:23] michaelklishin commented on #214
FTR, I haven't forgotten about this, just have been a little swamped with other projects. Sorry.

[2017-07-23 20:41] #192 closed

[2017-07-23 20:42] michaelklishin commented on #192
I switched to detecting the lack of failure when we don't have known indicators of success. Thank you, @MerelyAPseudonym, for providing a test case.

[2017-07-23 20:56] michaelklishin commented on #217
In many cases it's a matter of a fairly simple replacement, e.g.

http://www.elasticsearch.org/guide/reference/api/admin-indices-create-index.html => https://www.elastic.co/guide/en/elasticsearch/reference/2.4/indices-create-index.html.

This is the last remaining item for 3.0, I should cover it next week.

[2017-07-28 18:04] cxdf opened #251 "Index creation failure in Elasticsearch 5.X"
It looks like POST index creation was deprecated in Elasticsearch. Attempt to create any sort of index on a newer version of elasticsearch fails with the following error:
`
Exception in thread "main" clojure.lang.ExceptionInfo: clj-http: status 400 {:status 400, :headers {"Access-Control-Allow-Origin" "*", "Content-Type" "text/plain;charset=UTF-8", "Content-Length" "55", "Connection" "Close"}, :bo

[2017-07-28 18:05] cxdf commented on #251
Duplicate of https://github.com/clojurewerkz/elastisch/issues/245

My bad.

[2017-07-28 18:05] #251 closed

[2017-08-16 12:06] sachinpkale opened #253 "Async support in rest APIs"
As Rest APIs use clj-http internally, can we add _async?_ functionality supported by clj-http?
Reference: https://github.com/dakrone/clj-http#async-http-request

[2017-08-16 12:11] michaelklishin commented on #253
Are results returned still responses or are they futures? clj-http docs do not make this clear (or I don't know where to look)

[2017-08-16 12:33] sachinpkale commented on #253
Result returned is a future (It will contain response headers once API call is complete). Actual response will be provided to the first callback and error (if any) will be provided in the second callback.

The current flow is blocking and will become bottle-neck in any non-blocking flow which also uses **elastisch**

[2017-08-16 12:58] michaelklishin commented on #253
Then it's a new API and not an unsupported option. Unless someone is willing to put in the work, I doubt it will happen any time soon. ElasticSearch 5.0 support is already a significant enough milestone we are behind on.

[2017-08-16 14:45] sachinpkale commented on #253
@michaelklishin Are you open to pull requests? I can help with this change.

[2017-08-16 14:48] michaelklishin commented on #253
@sachinpkale I am but let's start with a small spike. In fact, I'd only start after we release a version that supports ES 5.0, so that's the best way to contribute at the moment. There's only one doco issue left before 3.0 can ship.

[2017-09-08 17:24] hantuzun opened #256 "Fix Delete By Query for Elasticsearch 5"
Elasticsearch 5 has updated Delete By Query methods with `POST` ...`/_delete_by_query` signatures.

I've fixed elastisch for that, but forking from
@wneirynck's open pull request [#252](https://github.com/clojurewerkz/elastisch/pull/252) here: https://github.com/hantuzun/elastisch

[2017-09-08 17:30] hantuzun opened #257 "rest.index/refresh fails for Elasticsearch 5"
When I updated Elasticsearch to 5.5.2, our `rest.index/refresh` calls started to fail with a message from `clj-http` that "text/plain" content type is not acceptable.

Updating `clojurewerkz.elastisch.rest`'s `post` function with a `:content-type` `:json`  setting fixed the issue for me, without breaking other hundreds of tests using elastisch for our application:

[code]

[2017-09-08 19:01] michaelklishin commented on #257
See [Supported ElasticSearch versions](https://github.com/clojurewerkz/elastisch/blob/master/README.md#supported-elasticsearch-versions) and #245.

[2017-09-08 19:01] #257 closed

[2017-09-08 19:02] michaelklishin commented on #257
@hantuzun if you'd like to contribute this small improvement, a pull request against master would be appreciated.

[2017-09-08 19:04] michaelklishin commented on #256
@hantuzun you can change base fork and branch when creating a pull request. Please do that instead.

[2017-09-08 19:04] #256 closed

[2017-09-09 17:22] hantuzun commented on #257
Hi @michaelklishin, I fear that change might break some features in some of the many Elasticsearch versions supported.

[2017-09-09 17:25] hantuzun commented on #256
@michaelklishin, I'd like to do that when Elastisch will have an Elasticsearch 5.x branch...

[2017-09-10 05:30] michaelklishin commented on #257
@hantuzun I don't see how adding a content type can break anything. In any case, no PRs for 5.x will be merged until 3.0 is released.

[2017-09-11 11:28] hantuzun commented on #257
I've already forked elastisch to my account and we're using it. It'd be a hassle to fork it again for this PR that's not merged.

Hopefully 3.0 could be released soon and we could work on Elasticsearch 5.x support.

[2017-12-26 13:37] #217 closed

[2017-12-26 13:58] michaelklishin commented on #245
3.0 is out and I'm happy to begin working on this (to the extent I have the time, which admittedly is not a lot).

[2017-12-28 13:08] hantuzun commented on #256
Hi @michaelklishin,

Since @wneirynck's PR is now merged to the master, should I create a new PR for this fix?

[2018-01-09 19:11] michaelklishin commented on #256
@hantuzun please do, thank you!

[2018-01-22 13:44] harsh-98 opened #260 "How can i change port number at which the queries are sent?"
I have elasticsearch running on 10200 port .

[2018-01-31 19:27] michaelklishin commented on #260
The very first documentation guide, [Getting Started](http://clojureelasticsearch.info/articles/getting_started.html), contains an answer.

[2018-01-31 19:27] #260 closed

[2018-04-19 17:37] briantrice commented on #245
@michaelklishin I'm strongly motivated to contribute to 5.0 support, as @hantuzun also indicated on https://github.com/clojurewerkz/elastisch/issues/257. Can a branch be started or PRs ready to accept? I'm preparing the `content-type` fix for PR shortly.

[2018-07-11 19:04] tacticiankerala opened #262 "Update doc string for search"
This is the current doc string given for search
[code]
but, I think it has to be changed to,
[code]

[2018-07-16 00:31] michaelklishin commented on #262
Please submit a PR instead.

[2018-08-20 11:14] codingkarthik opened #264 "Cannot create a new index"
Hello,

I am facing a problem while creating an index using `(esi/create conn "test_dev")` and I get the following error:

`1. Unhandled clojure.lang.ExceptionInfo
   clj-http: status 405
   {:status 405,
    :headers
    {"Allow" "HEAD,GET,DELETE,PUT",
     "content-type" "application/json; charset=UTF-8",
     "content-length" "136"},
    :body
    "{\"error\":\"Incorrect HTTP method for uri [/t

[2018-09-07 09:34] qleguennec opened #265 "[text/plain; charset=UTF-8] is not supported"
When executing the following snippet:

[code]
I'm getting this error:
[code]

How to solve this? Thanks.

[2018-10-08 13:29] firthh commented on #265
We ran into the same issue, if you replace:
[code]
with
[code]
we found it solves the problem for us

[2018-11-04 01:42] tony824 opened #266 "Support clojure 1.10.0"
in clojure 1.10.0, for `ns ` when `import`  , it is mandatory to specify at least one `class`
https://github.com/clojure/core.specs.alpha/blob/master/src/main/clojure/clojure/core/specs/alpha.clj#L140

we might have to change a couple of them
 e.g.
https://github.com/clojurewerkz/elastisch/blob/master/src/clojurewerkz/elastisch/native/index.clj#L19

[2018-12-19 11:43] Jarzka commented on #266
I noticed this problem too when I tried to upgrade to Clojure 1.10. I got the following error:

[code]

[2019-01-17 10:32] Jarzka commented on #266
Any news on the update release?

[2019-02-28 23:44] michaelklishin commented on #266
I have tagged `3.0.0` and released it but never pushed the tag or posted an update here. Sorry. `3.0.0` should be up on Clojars.

[2019-02-28 23:44] #266 closed

[2019-02-28 23:49] #262 closed

[2019-03-06 10:11] rlovtangen commented on #266
Wait, we have been using 3.0.0 for a year now. It was released on clojars.org on Dec 26, 2017. The new version with this fix should probably be 3.0.1 or something?

<img width="1127" alt="pasted_image_06_03_2019__11_04" src="https://user-images.githubusercontent.com/233839/53873288-531b8180-4000-11e9-854c-1b47679d887c.png">

[2019-03-11 13:42] Jarzka commented on #266
Why is this issue closed since it has not been fixed?

[2019-04-08 10:48] Jarzka opened #269 "3.0.1 release date?"
Hi

Related to this issue: https://github.com/clojurewerkz/elastisch/issues/266

I wonder if this issue was closed by mistake. The PR was merged and 3.0.0 was released. However, 3.0.0 is the current release we are using, so I believe the right release version should have been 3.0.1. Can you please upload it to Clojars if it is ready?

[2019-04-17 10:23] michaelklishin commented on #269
Will do.

[2019-04-27 18:38] michaelklishin commented on #269
`3.0.1` is out. Sorry it takes me forever :(

[2019-04-27 18:38] #269 closed

[2019-04-29 05:32] Jarzka commented on #269
Great, thanks! Just remember to update the version in readme file too ;)

[2020-02-01 19:04] sanel opened #270 "Elasticsearch 7.x support?"
Hey guys,

What is support for Elasticsearch 7.x and is there any plan to do so?

[2020-03-14 15:24] palash25 commented on #237
Hi I came to this issue looking for my first beginner clojure issue to solve but I think this has already been solved here right? https://github.com/clojurewerkz/elastisch/pull/68/

shouldn't this be closed? or if there is still some work left with this issue, let me know I would like to take a crack at it.

[2021-08-08 15:15] sergeiudris opened #271 "no clj desktop programs to be found"
even idea of clojurewerks we forget, but clj desktop programs will be the best

[2022-04-04 19:29] jollyblondgiant opened #272 "Unable to create index"
using elasticsearch version: 8.1.2 (built from docker image)
using elastisch version: 3.0.1

here's my core.clj:
(ns try-elastisch.core
 (:require [clojurewerkz.elastisch.rest :refer [connect]]
                 [clojurewerkz.elastisch.rest.index :as index]
                 [clojurewerkz.elastisch.rest.document :as doc])
 (:gen-class))

(defn -main
  [& _]
  (let [port 9200
          host "127.0.0.